body {
	margin: 0;
	padding: 0;
}

.page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.right {
	width: auto;
	height: 100%;
	background-color: #f1f1f1;
	min-height: 100vh;
}

.content {
	flex: 1;
	height: 100%;
	background-color: #dadeff;
	min-height: 100vh;
}

.left {
	width: 200px;
	min-height: 100vh;
	height: 100%;
	background-color: #f1f1f1;
}
